services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    image: m3zold-server
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      - DB_URL=postgres://m3zold-server:m3zold-server@db:5432/m3zold-server
    restart: always

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: m3zold-server
      POSTGRES_USER: m3zold-server
      POSTGRES_PASSWORD: m3zold-server
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always

volumes:
  pgdata:
