version: '3.8'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    image: ${APP_IMAGE:-m3zold-server}
    ports:
      - "${APP_PORT:-8080}:${APP_PORT:-8080}"
    depends_on:
      - db
    env_file:
      - .env
    environment:
      DB_URL: ${DB_URL}
    restart: always

  db:
    image: postgres:15
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
