version: '3.8'

services:
  api:
    build: .
    image: m3zold-server:latest
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
    env_file: .env  # Добавьте эту строку
    environment:
      - APP_ENV=production
      - APP_PORT=8080
      - DB_URL=postgres://m3zold-server:${DB_PASSWORD}@db:5432/m3zold-server?sslmode=disable
      - JWT_SECRET=${JWT_SECRET}
      - LOG_LEVEL=info
    restart: unless-stopped
    networks:
      - app-network

  db:
    image: postgres:15
    env_file: .env  # И эту тоже
    environment:
      POSTGRES_DB: m3zold-server
      POSTGRES_USER: m3zold-server
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U m3zold-server -d m3zold-server" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    restart: unless-stopped
    networks:
      - app-network

volumes:
  pgdata:

networks:
  app-network:
    driver: bridge