name: Deploy Go LAEG API

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.21'

    - name: Build binary
      run: go build -o go-laeg main.go

    - name: Upload binary to VPS
      uses: appleboy/scp-action@v0.1.4
      with:
        host: 83.166.247.181
        username: root
        key: ${{ secrets.VPS_SSH_KEY }}
        source: "go-laeg"
        target: "/usr/local/bin"

    - name: Restart service
      uses: appleboy/ssh-action@v0.1.10
      with:
        host: 83.166.247.181
        username: root
        key: ${{ secrets.VPS_SSH_KEY }}
        script: |
          systemctl restart go-laeg
